body{
    background-color: rgb(173, 255, 47);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: green;
}

h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(12, 194, 12);
}

p{
    text-indent: 30px;
    text-align: justify;
}

.basico{
    color: rgb(69, 153, 69);
    
}

.intermediario{
    color: rgb(168, 87, 62);
}

.avancado{
    color: rgb(138, 153, 69);
}